<ons-page ng-init="accountslistinit()" ons-show="updateToolbar('Accounts')">
    <ons-fab position="bottom right" >
        <ons-icon icon="md-plus" ng-click="acctransNavigator.pushPage('html/newacc.html',{animation:'slide'})"></ons-icon>
    </ons-fab>
    <ons-row style="padding:10px;text-align:center;background:#ffffff">
        <ons-col width="33%">
            <span>Assets</span><br/>
            <span style="color:blue">{{getTotalAsset()}}</span>
        </ons-col> 
        <ons-col width="33%">
            <span>Debt</span><br/>
            <span style="color:red">{{getTotalDebt()}}</span>
        </ons-col>
        <ons-col width="33%">
            <span>Total</span><br/>
            <span>{{getTotalBalance()}}</span>
        </ons-col>
    </ons-row>
    <ons-list style="margin-bottom:70px;">

    <!--Credit Card-->
    <ons-list-item ng-if="getCountCreditCardAcc()" style="background:#eeeeee">
        <div class="center">
            Credit Cards
        </div>
        <div class="right">
            <ons-row style="width:150px;text-align:right">
                <ons-col>
                    <span>Payable</span><br/>
                    <span style="color:blue"></span>
                </ons-col>
                <ons-col>
                    <span>Outstd.</span><br/>
                    <span style="color:red">{{getOutstandingTotal()}}</span>
                </ons-col>
            </ons-row>
        </div>
    </ons-list-item> 
    <account-list-item ng-repeat="account in accountslist" data="account" ng-click="acctransNavigator.pushPage('html/accprofile.html',{animation:'slide',data:{accountdetails:account}})" ng-if="account.accgroup=='creditcard'"></account-list-item>

    <!--Debit Card-->
    <ons-list-item ng-if="getCountDebitCardAcc()" style="background:#eeeeee">
        <div class="center">
        Debit Cards
        </div>
        <div class="right">
            <ons-row style="width:150px;text-align:right">
                <ons-col></ons-col>
                <ons-col style="color:blue">RM {{getDebitCardTotalBalance()}}</ons-col>
            </ons-row>
        </div>
    </ons-list-item> 
    <account-list-item ng-repeat="account in accountslist" data="account" ng-click="acctransNavigator.pushPage('html/accprofile.html',{animation:'slide',data:{accountdetails:account}})" ng-if="account.accgroup=='debitcard'"></account-list-item>

    <!--Cash-->
    <ons-list-item ng-if="getCountCashAcc()" style="background:#eeeeee">
        <div class="center">
            Cash
        </div>
        <div class="right">
            <ons-row style="width:150px;text-align:right">
                <ons-col></ons-col>
                <ons-col style="color:blue">RM {{getCashTotalBalance()}}</ons-col>
            </ons-row>
        </div>
    </ons-list-item> 
    <account-list-item ng-repeat="account in accountslist" data="account" ng-click="acctransNavigator.pushPage('html/accprofile.html',{animation:'slide',data:{accountdetails:account}})" ng-if="account.accgroup=='cash'"></account-list-item>
    </ons-list>
</ons-page>
