<ons-page ons-show="init();updateAllAccBalance();">
    <ons-fab position="bottom right" >
        <ons-icon icon="md-plus" ng-click="acctransNavigator.pushPage('html/newacc.html',{animation:'slide'})"></ons-icon>
    </ons-fab>
    <div class="content" style="margin-bottom:70px;">
        <div ng-show="tempAccList.length==0" style="text-align:center;margin-top:30px;">
            <em>It's empty. Add a new one....</em> 
        </div>

    <!--Accounts List-->
    <ons-list modifier="longdivider" ng-repeat="(key,value) in tempAccList | groupBy:'accgroup'">

    <ons-list-item modifier="longdivider" style="font-weight:bold;background:#eeeeee">
        <div class="center">
            <ons-icon icon="fa-credit-card" ng-if="key!='cash'"></ons-icon>
            <ons-icon icon="fa-money-bill" ng-if="key=='cash'"></ons-icon>
            &nbsp;
            {{convertAccTypeLabel(key)}}
        </div>
        <div class="right">
            <ons-row ng-if="key=='creditcard'"   style="width:150px;text-align:right">
                <ons-col style="color:red">
                    <small>Due</small><br/>
                    $ {{getTotalPayableAmount()}}
                </ons-col>
                <ons-col style="color:red" ng-if="getTotalOutstdAmount()>0">
                    <small>Outstd</small><br/>
                    $ {{getTotalOutstdAmount()}}
                </ons-col>
                <ons-col style="color:blue" ng-if="getTotalOutstdAmount()<=0">
                    <small>Outstd</small><br/>
                    $ {{getTotalOutstdAmount()}}
                </ons-col>
            </ons-row>
            <ons-row ng-if="key=='debitcard' && getDebitTotalBalance()>=0"   style="width:150px;text-align:right">
                <ons-col style="color:blue">$  {{getDebitTotalBalance()}}</ons-col>
            </ons-row>
            <ons-row ng-if="key=='cash' && getCashTotalBalance()>=0"   style="width:150px;text-align:right">
                <ons-col style="color:blue">$  {{getCashTotalBalance()}}</ons-col>
            </ons-row>
            <ons-row ng-if="key=='debitcard' && getDebitTotalBalance()<0"   style="width:150px;text-align:right">
                <ons-col style="color:red">$  {{getDebitTotalBalance()}}</ons-col>
            </ons-row>
            <ons-row ng-if="key=='cash' && getCashTotalBalance()<0"   style="width:150px;text-align:right">
                <ons-col style="color:red">$  {{getCashTotalBalance()}}</ons-col>
            </ons-row>
        </div>
    </ons-list-item>

    <account-list-item ng-repeat="account in value" data="account" ng-click="acctransNavigator.pushPage('html/accprofile.html',{animation:'slide',data:{accountdetails:account},callback:showSelectedAcc(account)})"></account-list-item>

    </ons-list>
</ons-page>
