<ons-page ng-init="selectOneAccount(acctransNavigator.topPage.data.accountdetails.accid)">
   <ons-toolbar>
       <div class="left">
           <ons-back-button ng-click="acctransNavigator.popPage()"></ons-back-button>
       </div>
       <div class="center">
           {{selectedAcc[0].accname}}
       </div>
       <div class="right">
           <ons-toolbar-button icon="md-delete" ng-click="deleteAccount(acctransNavigator.topPage.data.accountdetails.accid)"></ons-toolbar-button>
           <ons-toolbar-button icon="md-edit" ng-click="acctransNavigator.pushPage('html/editacc.html',{animation:'slide',data:{selectedacc:selectedAcc[0]}})"></ons-toolbar-button>

       </div>
   </ons-toolbar>

   <div class="content">
        <ons-list>
            <ons-list-item>
                <div class="center">
                    <span ng-if="selectedAcc[0].accgroup!='cash'" class="list-item__title">
                        {{selectedAcc[0].bank}}
                    </span>
                    <span ng-if="selectedAcc[0].accgroup!='cash'" class="list-item__subtitle">
                        Expiry: {{selectedAcc[0].expiry}}<span ng-if="selectedAcc[0].accgroup=='debitcard'"><br/>Balance: ${{selectedAcc[0].balance}}</span>
                    </span>
                    <span ng-if="selectedAcc[0].accgroup=='cash'"class="list-item__title">
                        Balance: ${{selectedAcc[0].balance}}
                    </span>
                </div>
                <div class="right">
                    <ons-icon icon="md-card"></ons-icon>
                </div>
            </ons-list-item>
        </ons-list> 
        <div class="center" ng-if="selectedAcc[0].accgroup=='creditcard'" ng-include="'html/creditcarddetails.html'"></div>
        <div  ng-if="selectedAcc[0].accgroup!='creditcard'" ng-include="'html/transcontents.html'"></div>
   </div>
</ons-page>
