<ons-list>
    <ons-list-item style="background:#eeeeee">
        <div class="center">
            <ons-row>
                <ons-col style="text-align:center">
                    <ons-icon size="20px" icon="md-arrow-left" ng-click="displayTransListControl('prev')"></ons-icon>
                </ons-col>
                <ons-col style="text-align:center">
                    <b>{{transListMonthYear}}</b>
                </ons-col>
                <ons-col style="text-align:center">
                    <ons-icon size="20px" icon="md-arrow-right" ng-click="displayTransListControl('next')"></ons-icon>
                </ons-col>
            </ons-row>
        </div>
    </ons-list-item>
</ons-list>

<ons-list ng-if="displayTransOfCurrentMonth(key)" modifier="inset" style="margin-bottom:10px;" ng-repeat="(key,value) in tempTransList | groupBy:'transdate'">
    <ons-list-item modifier="longdivider">
        <div class="center">
            <b>{{convertTransDateFormat(key)}}</b>
        </div>
        <div class="right">
            <ons-row style="width:150px;text-align:right">
                <ons-col width="50%" style="color:blue">$ {{getTotalIncByDay(value,1)}}</ons-col>
                <ons-col ng-if="value" width="50%" style="color:red">$ {{getTotalExpByDay(value,1)}}</ons-col>
            </ons-row>
        </div>
    </ons-list-item>

    <transactions-list-item ng-init="relatedaccname = convertAccIDToName(transaction.transacc) ; fromaccname = convertAccIDToName(transaction.fromtransacc) ; toaccname=convertAccIDToName(transaction.totransacc)" ng-click="acctransNavigator.pushPage('html/previewtrans.html',{animation:'slide',data:{trans:transaction},callback:showSelectedTransaction(transaction)})" ng-repeat="transaction in value" ng-if="transaction.transacc == selectedAcc[0].accid || transaction.fromtransacc==selectedAcc[0].accid ||transaction.totransacc==selectedAcc[0].accid" data="transaction" relatedacc="relatedaccname" fromacc="fromaccname" toacc="toaccname"></transactions-list-item>

</ons-list>
