<!--Cash Fields-->
<p>
    <label for="accname">
        Account Name
        <span ng-show="{{accFormName}}.accname.$error.required" style="color:red">*</span>
    </label><br/>
    <ons-input ng-model="submitted.accname" name="accname" input-id="accname" modifier="underbar" type="text" style="width:100%" required></ons-input>
</p>
<p>
    <label for="balance">Balance</label>
    <ons-input ng-model="submitted.balance" name="name" input-id="balance" modifier="underbar" min="0" type="number" style="width:100%" required></ons-input>
</p>
