<!--Credit Card Fields-->
<p> 
<ons-row>
    <ons-col>
        <label for="fourdigits">
            Last 4 Digits
            <span ng-show="addaccForm.fourdigits.$error.required" style="color:red">*</span>
        </label><br/>
        <ons-input input-id="fourdigits" ng-model="submitted.fourdigits" name="fourdigits" modifier="underbar" type="tel" maxlength="4" style="width:90%" placeholder="XXXX" required></ons-input>
    </ons-col>
    <ons-col>
        <label for="expiry">
            Expiry
            <span ng-show="addaccForm.expirymonth.$error.required || addaccForm.expiryyear.$error.required" style="color:red">*</span>
        </label><br/>
        <span>
            <select class="select-input select-input--underbar" ng-model="submitted.expirymonth" name="expirymonth" input-id="expirymonth" modifier="underbar" ng-options="n for n in [] | range:1:12" style="width:45%" required>
                <option value="" disabled>MM</option> 
            </select></span>
            <span>/</span>
        <span>
        <select ng-model="submitted.expiryyear" class="select-input select-input--underbar" name="expiryyear" input-id="expiryyear" modifier="underbar" style="width:45%" ng-options="n for n in [] | range:21:30" required>
            <option value="" disabled>YY</option> 
        </select> 
        </span>
    </ons-col>
</ons-row>
</p>
<p>
    <label for="accname">
        Card Name
            <span ng-show="addaccForm.accname.$error.required" style="color:red">*</span>
    </label><br/>
    <ons-input input-id="accname" ng-model="submitted.accname" name="accname" modifier="underbar" type="text" style="width:100%" required></ons-input>
</p>
<p> 
<ons-row>
    <ons-col>
        <label for="selectedCardType">
            Type
            <span ng-show="addaccForm.selectedCardType.$error.required" style="color:red">*</span>
        </label><br/>
        <select id="selectedCardType" class="select-input select-input--underbar" ng-model="submitted.selectedCardType" name="selectedCardType" modifier="underbar" style="width:90%" ng-options="x.type as x.label for x in cardtypes" required> 
        </select>
    </ons-col>
    <ons-col>
        <label for="bank">
            Bank
            <span ng-show="addaccForm.bank.$error.required" style="color:red">*</span>
        </label><br/>
        <ons-input type="text" ng-model="submitted.bank" name="bank" id="bank" modifier="underbar" style="width:90%" required>
        </ons-input>
    </ons-col>
</ons-row>
</p>
<p>
        <label for="sdate">
            Statement Date
            <span ng-show="addaccForm.sdate.$error.required" style="color:red">*</span>
        </label><br/>
        <select class="select-input select-input--underbar" ng-model="submitted.sdate" name="sdate" input-id="sdate"  modifier="underbar" style="width:100%" ng-options="n for n in [] | range:1:30" required>
        </select>
</p>
<p>
        <label for="paymentdd">
            Payment Due Date
            <span ng-show="addaccForm.paymentdd.$error.required" style="color:red">*</span>
        </label><br/>
        <select class="select-input select-input--underbar" ng-model="submitted.paymentdd"  name="paymentdd" input-id="paymentdd" modifier="underbar" style="width:100%" ng-options="n for n in [] | range:1:30" required>
            
        </select>
</p>
<p>
    <label for="annualfee">Annual Fee</label>
    <ons-input ng-model="submitted.annualfee" name="annualfee" input-id="annualfee" min="0" modifier="underbar" type="number" style="width:100%"></ons-input>
</p>
