<ons-list style="background:#eeeeee">
            <ons-list-item>
                <div lass="center">
                    Status:
                    <span ng-if="selectedAcc[0].settlestatus==1" style="color:blue">
                        Settled
                    </span>
                    <span ng-if="selectedAcc[0].settlestatus==0" style="color:red">
                        Not Settled
                    </span>
                </div>
                <div class="right">
                    <ons-button modifier="quiet" ng-click="setSettled(selectedAcc[0])">Mark Settled</ons-button>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Due Amount: $ {{selectedAcc[0].due_amount}}
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Outstanding: $ {{selectedAcc[0].outstd_amount}} 
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Statement Date: {{selectedAcc[0].statement_date}} ({{calculateDaysLeft(selectedAcc[0].statement_date)}}) 
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Due Date: {{selectedAcc[0].payment_due_date}} ({{calculateDaysLeft(selectedAcc[0].payment_due_date)}})
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Cut off Date: {{selectedAcc[0].cut_off_date}} ({{calculateDaysLeft(selectedAcc[0].cut_off_date)}})
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Next Due Date: {{selectedAcc[0].next_due_date}} ({{calculateDaysLeft(selectedAcc[0].next_due_date)}})
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Annual Fee: &nbsp;
                    <span ng-if="selectedAcc[0].annual_fee==0">
                        Free
                    </span>
                    <span ng-if="selectedAcc[0].annual_fee!=0">
                        $ {{selectedAcc[0].annual_fee}}
                    </span>
                </div>
            </ons-list-item>
</ons-list>
<div style="width:90%;margin:0 auto;padding:10px 0px">
    <ons-button modifier="large" ng-click="acctransNavigator.pushPage('html/settlepayment.html',{animation:'slide',data:{selectedacc:selectedAcc[0]},callback:setSettlePaymentForm('outstanding')})">Settle Outstanding Amount</ons-button> 

    <ons-button modifier="large" style="margin-top:10px" ng-click="acctransNavigator.pushPage('html/settlepayment.html',{animation:'slide',data:{selectedacc:selectedAcc[0]},callback:setSettlePaymentForm('due')})">Settle Due Amount</ons-button> 
</div>
