<ons-page ng-init="selectedacc=acctransNavigator.topPage.data.selectedacc;selectedaccID=selectedacc.accid">
<ons-toolbar>
    <div class="left">
        <ons-back-button ng-click="acctransNavigator.popPage()"></ons-back-button>
    </div>
    <div class="center">Edit {{selectedacc.accname}}</div>
    <div class="right" ng-if="selectedacc.accgroup=='creditcard'||selectedacc.accgroup=='debitcard'">
        <ons-toolbar-button icon="md-camera"></ons-toolbar-button>      
    </div>
</ons-toolbar>

<!--New Account Contents-->
<form name="editaccForm">
<div class="content" style="width:90%;margin:0 auto">
<p>
 <label for="selectedAccGroup">Group</label><br/>
 <select class="select-input select-input--underbar" ng-init="selectedAccGroup=selectedacc.accgroup" id="selectedAccGroup" ng-model="selectedAccGroup" ng-options="x for (x,y) in accgroups" modifier="underbar" style="width:100%">
 </select>
</p>

<!--Credit Card Fields-->
<div ng-if="selectedAccGroup=='creditcard'">
<p> 
<ons-row>
    <ons-col>
        <label for="fourdigits">
            Last 4 Digits
            <span ng-show="addaccForm.fourdigits.$error.required" style="color:red">*</span>
        </label><br/>
        <ons-input input-id="fourdigits" ng-model="fourdigits" name="fourdigits" ng-init="fourdigits=selectedacc.fourdigits" modifier="underbar" type="number" min="0" max="9999" style="width:90%" required></ons-input>
    </ons-col>
    <ons-col>
        <label for="expiry">
            Expiry
            <span ng-show="addaccForm.expiry.$error.required" style="color:red">*</span>
        </label><br/>
        <span>
            <ons-input ng-init="expirymonth=extractExpiryMonth(selectedacc.expiry)"ng-model="expirymonth" name="expirymonth" input-id="expirymonth" modifier="underbar" placeholder="MM" type="text" style="width:45%" required></ons-input>
        <span>/</span>
        <ons-input ng-init="expiryyear=extractExpiryYear(selectedacc.expiry)" ng-model="expiryyear" placeholder="YY" name="expiryyear" input-id="expiryyear" modifier="underbar" type="text" style="width:45%" required></ons-input> 
        </span>
    </ons-col>
</ons-row>
</p>
<p>
    <label for="accname">
        Card Name
            <span ng-show="addaccForm.accname.$error.required" style="color:red">*</span>
    </label><br/>
    <ons-input ng-init="accname=selectedacc.accname" input-id="accname" ng-model="accname" name="accname" modifier="underbar" type="text" style="width:100%" required></ons-input>
</p>
<p> 
<ons-row>
    <ons-col>
        <label for="selectedCardType">
            Type
            <span ng-show="addaccForm.selectedCardType.$error.required" style="color:red">*</span>
        </label><br/>
        <select id="selectedCardType" class="select-input select-input--underbar"ng-model="selectedCardType" name="selectedCardType" modifier="underbar" ng-init="selectedCardType=selectedacc.cardtype" style="width:90%" ng-options="x for x in cardtypes" required>
        </select>
    </ons-col>
    <ons-col>
        <label for="bank">
            Bank
            <span ng-show="addaccForm.bank.$error.required" style="color:red">*</span>
        </label><br/>
        <ons-input type="text" ng-model="bank" name="bank" id="bank" modifier="underbar" ng-init="bank=selectedacc.bank" style="width:90%" required>
        </ons-input>
    </ons-col>
</ons-row>
</p>
<p>
        <label for="sdate">
            Statement Date
            <span ng-show="addaccForm.sdate.$error.required" style="color:red">*</span>
        </label><br/>
        <select ng-init="sdate=selectedacc.statement_date.substring(0,2)" class="select-input select-input--underbar" ng-model="sdate" name="sdate" input-id="sdate" ng-options="x for x in dates" modifier="underbar" style="width:100%" required>
        </select>
</p>
<p>
        <label for="paymentdd">
            Payment Due Date
            <span ng-show="addaccForm.paymentdd.$error.required" style="color:red">*</span>
        </label><br/>
        <select ng-init="paymentdd=selectedacc.payment_due.substring(0,2)" class="select-input select-input--underbar" ng-model="paymentdd" ng-options="x for x in dates" name="paymentdd" input-id="paymentdd" type="date" modifier="underbar" style="width:100%" required>
        </select>
</p>
<p>
    <label for="annualfee">Annual Fee</label>
    <ons-input ng-model="annualfee" name="annualfee" input-id="annualfee" min="0" modifier="underbar" type="number" style="width:100%" ng-init="annualfee=selectedacc.annual_fee"></ons-input>
</p>
<ons-button modifier="large" ng-hide="!selectedAccGroup" ng-disabled="addaccForm.$invalid" ng-click="updateAccount(selectedaccID,selectedAccGroup,fourdigits,expirymonth,expiryyear,accname,selectedCardType,bank,sdate,paymentdd,annualfee,balance)" style="margin-bottom:20px">Save</ons-button>
</div>

<!--Debit Card Fields-->
<div ng-if="selectedAccGroup=='debitcard'">
<p> 
<ons-row>
    <ons-col>
        <label for="fourdigits">
            Last 4 Digits
            <span ng-show="addaccForm.fourdigits.$error.required" style="color:red">*</span>
        </label><br/>
        <ons-input ng-model="fourdigits" name="fourdigits" input-id="fourdigits" modifier="underbar" type="number" min="0" max="9999" style="width:90%" required></ons-input>
    </ons-col>
    <ons-col>
        <label for="expiry">
            Expiry
            <span ng-show="addaccForm.expiry.$error.required" style="color:red">*</span>
        </label><br/>
        <span>
            <ons-input ng-model="expirymonth" name="expirymonth" input-id="expirymonth" modifier="underbar" placeholder="MM" type="number" style="width:45%" required></ons-input>
        <span>/</span>
        <ons-input ng-model="expiryyear" placeholder="YY" name="expiryyear" input-id="expiryyear" modifier="underbar" type="number" style="width:45%" required></ons-input> 
        </span>
    </ons-col>
</ons-row>
</p>
<p>
    <label for="accname">
        Card Name
            <span ng-show="addaccForm.accname.$error.required" style="color:red">*</span>
    </label><br/>
    <ons-input ng-model="accname" name="accname" input-id="accname" modifier="underbar" type="text" style="width:100%" required></ons-input>
</p>
<p> 
<ons-row>
    <ons-col>
        <label for="selectedCardType">
            Type
            <span ng-show="addaccForm.selectedCardType.$error.required" style="color:red">*</span>
        </label><br/>
        <select class="select-input select-input--underbar" ng-model="selectedCardType" name="selectedCardType" id="selectedCardType" modifier="underbar" style="width:90%" required>
            <option ng-repeat="x in cardtypes" value="{{x}}">{{x}}</option>
        </select>
    </ons-col>
    <ons-col>
        <label for="bank">
            Bank
            <span ng-show="addaccForm.bank.$error.required" style="color:red">*</span>
        </label><br/>
        <ons-input type="text" ng-model="bank" name="bank" id="bank" modifier="underbar" style="width:90%" required>
        </ons-input>
    </ons-col>
</ons-row>
</p>
<p>
    <label for="balance">
        Balance
    </label>
    <ons-input ng-model="balance" name="balance" input-id="balance" modifier="underbar" type="number" min="0" style="width:100%" required></ons-input>
</p>
<ons-button modifier="large" ng-hide="!selectedAccGroup" ng-disabled="addaccForm.$invalid" ng-click="updateAccount(selectedaccID,selectedAccGroup,fourdigits,expirymonth,expiryyear,accname,selectedCardType,bank,sdate,paymentdd,annualfee,balance)" style="margin-bottom:20px">Save</ons-button>
</div>

<!--Cash Fields-->
<div ng-if="selectedAccGroup=='cash'">
<p>
    <label for="accname">
        Account Name
        <span ng-show="addaccForm.accname.$error.required" style="color:red">*</span>
    </label><br/>
    <ons-input ng-init="accname=selectedacc.accname" ng-model="accname" name="accname" input-id="accname" modifier="underbar" type="text" style="width:100%" required></ons-input>
</p>
<p>
    <label for="balance">Balance</label>
    <ons-input ng-init="balance=selectedacc.balance" ng-model="balance" name="name" input-id="balance" modifier="underbar" min="0" type="number" style="width:100%" required></ons-input>
</p>
<ons-button modifier="large" ng-hide="!selectedAccGroup" ng-disabled="addaccForm.$invalid" ng-click="updateAccount(selectedaccID,selectedAccGroup,fourdigits,expirymonth,expiryyear,accname,selectedCardType,bank,sdate,paymentdd,annualfee,balance)" style="margin-bottom:20px">Save</ons-button>
</div>
</div>
</form>
</ons-page>
