<ons-list-item tappable>
    Account
    <span ng-show="editTransForm.transacc.$error.required" style="color:red">*</span>
    <select class="select-input select-input--underbar" name="transacc" id="transacc" ng-model="edittrans.transacc" ng-options="x.accid as x.accname +' '+x.fourdigits+'('+x.accgroup+')' for x in tempAccList" style="width:100%" required></select>
</ons-list-item>

<ons-list-item tappable>
    Category
    <span ng-show="editTransForm.transcategory.$error.required" style="color:red">*</span>
    <select class="select-input select-input--underbar" id="transcategory" name="transcategory" ng-model="edittrans.transcategory" ng-options="x as y.label for (x,y) in incomecategories" style="width:100%" required>
        <option value=""></option>
    </select>
</ons-list-item>

<ons-list-item tappable>
    Amount $
    <ons-input id="transamount" ng-model="edittrans.transamount" type="number" modifier="underbar" name="transamount" style="width:100%"></ons-input>
</ons-list-item>
