<ons-list-item tappable>
    From
    <span ng-show="editTransForm.fromtransacc.$error.required" style="color:red">*</span>
    <select class="select-input select-input--underbar" name="fromtransacc" id="fromtransacc" ng-model="edittrans.fromtransacc" ng-options="x.accid as x.accname + ' ' +x.fourdigits+'('+x.accgroup+')' for x in tempAccList" style="width:100%" required></select>
</ons-list-item>

<ons-list-item tappable>
    To
    <span ng-show="editTransForm.totransacc.$error.required" style="color:red">*</span>
    <select class="select-input select-input--underbar" name="totransacc" id="totransacc" ng-model="edittrans.totransacc" ng-options="x.accid as x.accname + ' ' +x.fourdigits+'('+x.accgroup+')' for x in tempAccList" style="width:100%" required></select>
        <option value=""></option>
    </select>
</ons-list-item>

<ons-list-item tappable>
    Amount $
    <ons-input id="transamount" ng-model="edittrans.transamount" type="number" modifier="underbar" name="transamount" style="width:100%"></ons-input>
</ons-list-item>
