<ons-page>
    <ons-toolbar> 
        <div class="left">
            <ons-back-button ng-click="acctransNavigator.popPage()"></ons-back-button>
        </div> 
        <div class="center">
            <b>Edit Transaction</b>
        </div> 
    </ons-toolbar>

<div class="content" style="width:100%">
<ons-list modifier="nodivider">
<form name="editTransForm">

<ons-list-item tappable>
    Date
    <ons-input ng-model="edittrans.transdate" name="transdate" type="date" modifier="underbar" id="transdate" style="width:100%" required></ons-input>
</ons-list-item>

<ons-list-item tappable>
    Type
    <span ng-show="editTransForm.transgroup.$error.required" style="color:red">*</span>
    <select class="select-input select-input--underbar" id="transgroup" name="transgroup" ng-model="edittrans.transgroup" style="width:100%" required>
        <option value=""></option>
        <option value="expense">Expense</option>
        <option value="income">Income</option>
        <option value="transfer">Transfer</option>
    </select>
</ons-list-item>

<div ng-switch="edittrans.transgroup" class="content">
    <div ng-switch-when="expense">
        <div ng-include="'html/editexpense.html'"></div> 
    </div>
    <div ng-switch-when="income">
        <div ng-include="'html/editincome.html'"></div> 
    </div>
    <div  ng-switch-when="transfer">
        <div ng-include="'html/edittransfer.html'"></div> 
    </div>
</div>

<ons-list-item tappable>
    Contents
    <ons-input id="transdesc" ng-model="edittrans.transdesc" type="text" modifier="underbar" name="transdesc" style="width:100%"></ons-input>
</ons-list-item>


<ons-list-item tappable>
    Notes
    <ons-input id="transnotes" ng-model="edittrans.transnotes" type="text" modifier="underbar" name="transnotes" style="width:100%"></ons-input>
</ons-list-item>

<ons-list-item tappable>
    <ons-button modifier="large" ng-click="editSelectedTransaction(selectedTrans[0])" ng-disabled="editTransForm.$error.required" ng-click="">Save</ons-button> 
</ons-list-item>

</form>
</ons-list>
</div>
</ons-page>
