<ons-page> 
    <div class="content" style="width:90%;margin:0 auto"> 
        <form name="incForm">
            <p> 
                <label for="incDate">
                    Date
                </label>
                <ons-input ng-model="incFormCtrl.date" id="incDate" name="incDate" modifier="underbar" type="date" style="width:100%" required></ons-input>
            </p>
            <p> 
                 <label for="incAcc">
                      Account 
                        <span ng-show="incForm.incAcc.$error.required" style="color:red">*</span>
                 </label>
                 <ons-select ng-model="incFormCtrl.accid" id="incAcc" name="incAcc" modifier="underbar" style="width:100%" required>
                     <option value=""></option>
                     <option value="eqewqe">weqew</option>
                 </ons-select>
            </p>
            <p> 
                <label for="incCat">
                    Category
                    <span ng-show="incForm.incCat.$invalid" style="color:red">*</span>
                </label>
                <ons-select ng-model="incFormCtrl.category" id="incCat" name="incCat" modifier="underbar" style="width:100%" required>
                    <option value=""></option>
                    <option value="testing">Testing</option>
                </ons-select>
            </p>
            <p> 
                <label for="incAmt">
                    Amount $
                </label>
                <ons-input ng-model="incFormCtrl.amount" id="incAmt" name="incAmt" modifier="underbar" type="number" style="width:100%"></ons-input>
            </p>
            <p> 
                <label for="incDesc">
                    Description
                </label>
                <ons-input ng-model="incFormCtrl.desc" id="incDesc" name="incDesc" modifier="underbar" type="text" style="width:100%"></ons-input>
            </p>
            <ons-button ng-model="incFormCtrl.addBtn" id="incAdd" name="incAdd" modifier="large" style="margin-top:20px">Add</ons-button>
            
        </form>
    </div>
</ons-page>
