<ons-page ng-init="setDefaultAccForms('')">
<ons-toolbar>
    <div class="left">
        <ons-back-button ng-click="acctransNavigator.popPage()"></ons-back-button>
    </div>
    <div class="center">Add Account</div>
    <div class="right" ng-if="submitted.selectedAccGroup=='creditcard'||submitted.selectedAccGroup=='debitcard'">
        <ons-toolbar-button icon="md-camera"></ons-toolbar-button>      
    </div>
</ons-toolbar>

<!--New Account Contents-->
<form name="addaccForm">
<div class="content" style="width:90%;margin:0 auto">
<p>
 <label for="selectedAccGroup">Group</label><br/>
 <select class="select-input select-input--underbar" id="selectedAccGroup" ng-model="submitted.selectedAccGroup" ng-options="x as y.label for (x,y) in accgroups" modifier="underbar" style="width:100%">
 </select>
</p>

<!--Include Credit Card Fields -->
<div ng-init="setDefaultAccForms('creditcard')" ng-if="submitted.selectedAccGroup=='creditcard'" ng-include="'html/creditcardfields.html'"></div>

<!--Include Debit Card Fields -->
<div ng-init="setDefaultAccForms('debitcard')" ng-if="submitted.selectedAccGroup=='debitcard'" ng-include="'html/debitcardfields.html'"></div>

<!--Include Cash Fields -->
<div ng-init="setDefaultAccForms('cash')" ng-if="submitted.selectedAccGroup=='cash'" ng-include="'html/cashfields.html'"></div>

<ons-button type="submit"  ng-click="createNewAccount()" modifier="large" ng-hide="!submitted.selectedAccGroup" ng-disabled="addaccForm.$invalid" style="margin-bottom:20px">Add</ons-button>
</div>
</form>
</ons-page>
