<ons-navigator swipeable var="myNavigator">
    <ons-page>
    <ons-toolbar>
        <div class="center">
            Add Transactions
        </div>
    </ons-toolbar>
    <div class="segment" style="width: 100%; margin: 0 auto;">
        <div class="segment__item">
            <input type="radio" class="segment__input" name="segment-expense" ng-model="transgroupTab" value="expense">
            <div class="segment__button">Expense</div>
        </div>
        <div class="segment__item">
            <input type="radio" ng-model="transgroupTab" class="segment__input" name="segment-income" value="income">
            <div class="segment__button">Income</div>
        </div>
        <div class="segment__item">
            <input type="radio" ng-model="transgroupTab" class="segment__input" name="segment-transfer" value="transfer">
            <div class="segment__button">Transfer</div>
        </div>
    </div>
    <div ng-if="transgroupTab=='expense'" ng-include="'html/expense.html'"></div>
    <div ng-if="transgroupTab=='income'" ng-include="'html/income.html'"></div>
    <div ng-if="transgroupTab=='transfer'" ng-include="'html/transfer.html'"></div>
     
</ons-page>
</ons-navigator>
