<ons-list-item modifier="nodivider">
    <div class="left">
        <small>{{transaction.transcategory}}</small>
    </div>
    <div class="center">
        <span class="list-item__title">
            {{transaction.transdesc}}
        </span>
        <span class="list-item__subtitle">
            {{transaction.transacc}}
        </span> 
    </div>

    <div class="right">
        <ons-row style="width:150px;text-align:right">
            <ons-col>
            </ons-col>
            <ons-col>
                <span style="color:blue" ng-if="transaction.transgroup!='expense'">
                   $ {{transaction.transamount}}
                </span>
                <span style="color:red" ng-if="transaction.transgroup=='expense'">
                   $ {{transaction.transamount}}
                </span>

            </ons-col> 
        </ons-row>
    </div>
</ons-list-item>

