<p>
    <label for="transdate">Date</label><br/>
    <ons-input ng-model="transsubmitted.transdate" type="date" modifier="underbar" id="transdate" style="width:100%"></ons-input>
</p>

<p>
    <label for="fromtransacc">
        From
        <span ng-show="addTransForm.fromtransacc.$error.required" style="color:red">*</span>
    </label><br/>
    <select class="select-input select-input--underbar" name="fromtransacc" id="fromtransacc" ng-model="transsubmitted.fromtransacc" ng-options="x.accid as x.accname for x in AccountsList" style="width:100%" required></select>
</p>

<p>
    <label for="totransacc">
        To
        <span ng-show="addTransForm.totransacc.$error.required" style="color:red">*</span>
    </label><br/>
    <select class="select-input select-input--underbar" name="totransacc" id="totransacc" ng-model="transsubmitted.totransacc" ng-options="x.accid as x.accname for x in AccountsList" style="width:100%" required></select>
</p>

<p>
    <label for="transamount">Amount $</label><br/>
    <ons-input id="transamount" ng-model="transsubmitted.transamount" type="number" modifier="underbar" style="width:100%"></ons-input>
</p>

<p>
    <label for="transdesc">Description</label><br/>
    <ons-input id="transdesc" ng-model="transsubmitted.transdesc" type="text" modifier="underbar" style="width:100%"></ons-input>
</p>

