<ons-page>
<div class="content" style="width:90%;margin:0 auto">
    <form name="transfForm">

<p> 
 <label for="date">Date</label><br/> 
 <ons-input input-id="date" modifier="underbar" ng-model="date" name="date" type="date" style="width:100%"></ons-input>
</p>

<p>
 <label for="fromaccount">
     From
     <span ng-show="transfForm.fromaccount.$error.required" style="color:red">*</span>
 </label><br/>
 <ons-select id="fromaccount" ng-model="fromaccount" name="fromaccount" modifier="underbar" style="width:100%" required>
     <option value=""></option>
     <option>Card 1</option> 
 </ons-select>
</p>

<p> 
 <label for="toaccount">
     To
     <span ng-show="transfForm.toaccount.$error.required" style="color:red">*</span>
 </label><br/>
 <ons-select ng-model="toaccount" name="toaccount" id="toaccount" modifier="underbar" style="width:100%" required>
     <option value=""></option>
     <option>Card 2</option> 
 </ons-select>
</p>

<p>
 <label for="transfamount">Amount</label><br/>
 <ons-input input-id="transfamount" modifier="underbar" type="number" ng-model="transfamount" name="transfamount" style="width:100%" required></ons-input>
</p>

<p>
 <label for="desc">Description</label>
 <ons-input input-id="desc" modifier="underbar" type="text" style="width:100%" placeholder="enter description"></ons-input>
</p>

<ons-button modifier="large" ng-disabled="transfForm.$invalid">Add</ons-button>

    </form>
</div>
</ons-page>
